/* BASIC STYLING */
* {
    box-sizing: border-box;
    margin: 0 auto;
}

.container,
.main-footer,
.banner {
    text-align: center;
    padding: 30px;
}

#intro-paragraph {
    color: rgb(169, 169, 169);
}

.main-header,
.main-footer {
    background-color: rgb(247, 247, 247);
    width: 100%;
}




p,
a,
h1,
h2,
h3 {
    font-size: 20px;
    font-family: 'Raleway', 'Varela Round', sans-serif;
    line-height: 1.5em;
    padding: 5px;
}

#name {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    background-color: white;
}

a:visited{
    color: black;
}

img {
    max-width: 70%;
    padding: 25px;
}

/* NAVIGATION STYLING */
nav {
    width: 100%;
}

.main-nav a {
    display: block;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#name-bottom {
        float: left;
        margin: 10px;
        padding: 10px;
    
}

.main-footer a {
    background-color: rgb(247, 247, 247);
}

#toTopButton {
    text-align: right;
    margin: 10px;
    padding: 10px;
    font-weight: bold;


}
.bottom-nav a {
    display: none;
}

/* MEDIA QUERIES */
@media(min-width: 768px){
    img {
        width: 80%;
    }

    .container{
        width: 90%;
        margin: 0 auto;
    }

    .main-footer {
        width: 100%;
        margin: 0 auto;
        }

    .main-nav a {
        display: inline-block;
        background-color: rgb(247, 247, 247);
    }

    #profile-pic{
        width: 40%;
        float: right;
        box-sizing: border-box;
        
    }

    #intro-paragraph {
        text-align: left;
        float: left;
        padding: 20px;
        width: 50%;
        
    }

    .col {
        width: 50%;
        float: left;
        display: block;
    }

    #toTopButton {
       display: none;
    }

    .bottom-nav {
        float: right; 
   }

   .bottom-nav a {
    background-color: rgb(247, 247, 247);
        display: block;
        float: left;
        margin: 10px;
        padding: 10px;
        
}


    .clearfix {
        content: "";
        display: table;
        clear: both;
    }
}

@media(min-width: 1024px){
    .container {
        /* width: 80%; */
        max-width: 1200px;
        margin: 0 auto;
    }

    .main-footer {
        margin: 10px;
    }

    #name {
        float: left;
        margin: 10px;
        padding: 10px;
        /* margin-left: 20px; */
    }
    .main-nav,
    .bottom-nav {
         float: right; 
    }

    .main-nav a,
    .bottom-nav a {
        float: left;
        margin: 10px;
        padding: 10px;
    }

    #toTopButton {
        display: none;
     }

    #profile-pic {
        float: right;
    }

    #intro-paragraph {
        /* float: left; */
        margin: 10px;
        padding: 10px;
        /* margin-left: 20px; */
    }
 
    .col {
        float: left;
        width: 33.33%
    }
}